spring:
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://118.31.250.119:3306/environment-protection?useSSL=false
    username: root
    password: root
